:root {
  --background: #03131a;
  --font-family: playfair;
  --font-color: azure;
}


.scroll-container {
  display: flex;
  flex-direction: row;
}
.text {
  color: var(--font-color);
  margin-top: 2vw;
  width: 40%;
  font-size: 150%;
  font-family: var(--font-family);
}
.images {
  width: 30vw;
  border-radius: 30px;
}

.education {
  display: flex;
  margin-top: 3vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.education > div {
  width: 60%;
  color: aliceblue;
  font-size: 150%;
  background-color: var(--background);
  padding: 0vw 2vw 2vw 2vw;
  border-radius: 10px;
  box-shadow: -11px 11px 20px 10px #34efdf7e;
  transition: all 2s;
  margin-bottom: 3vw;
}
.education > div:hover {
  box-shadow: 11px 11px 2px 10px #34efdf7e;
}
.inside-ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.inside-ul > li {
  margin-bottom: 2vw;
}

.programming {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.language {
  background-color: aliceblue;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding: 0vw 2vw 2vw 2vw;
  border-radius: 20px;
  color: var(--font-color);
  background-color: #00000057;
  border: 3px solid black;
  margin: 2vw;
  animation: fadeIn 1s ease-in forwards;
  transition: all 1s;
}
.language:hover {
  border: 3px solid var(--font-color);
}
.language > h1 {
  font-size: 2rem;
}

.language > img {
  width: 10rem;
  height: auto;
  border-radius: 1vw;
  pointer-events: none; /* Disable pointer events */
  -webkit-touch-callout: none; /* Disable touch callout on iOS */
  user-select: none; /* Disable user selection */
  -moz-user-select: none; /* Disable user selection for Firefox */
  -ms-user-select: none; /* Disable user selection for Internet Explorer/Edge */
  -webkit-user-select: none; /* Disable user selection for Chrome/Safari */
}
.details {
  position: relative;
  background-color: #03131a;
  width: 80%;

  animation: fadeIn 0.5s ease-in-out;
  color: aliceblue;
  border-radius: 20px;
  text-align: center;
}
.details-container {
  transition: all 1.5s;

  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.548);
}
.details-language {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 2vw;
}
.description-container {
  display: flex;
  justify-content: center;
}
.description {
  width: 70%;
  font-size: 1.1rem;
  margin-bottom: 3vw;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start opacity */
  }
  to {
    opacity: 1; /* End opacity */
  }
}

.tw {
  height: 22%;
}


