.contact {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}
.contact > div {
  background-color: rgba(250, 235, 215, 0.068);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin: 2vw;
  color: aliceblue;
  align-items: center;

  margin-right: 6vw;
  margin-left: 6vw;
  border-radius: 20px;
  padding: 1vw;
}
